h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: burlywood;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
.img {
  border-radius: 20px;
}
ul {
  list-style-position: inside;
}
ol {
  color: brown;
}

.prep {
  p {
    color: purple;
  }
  background-color: rgb(255, 235, 255);
  color: black;
  border-radius: 0.625rem;
}
.headingcolor {
  color: brown;
}
